@{
    ViewData["Title"] = "Hello World!";
}

<div class="container">
    <h1>Welcome.</h1>
    <div id="nameInput" class="input-group-lg center-block helloInput">
        <p class="lead">What is your name?</p>
        <input id="user_name" type="text" class="form-control" placeholder="name" aria-describedby="sizing-addon1" value="" />
    </div>
    <p id="response" class="lead text-center"></p>
   
</div>

@section scripts {
<script>//Submit data when enter key is pressed
$('#user_name').keydown(function(e) {
        var name = $('#user_name').val();
        if (e.which == 13 && name.length > 0) { //catch Enter key
            $('#nameInput').hide(); 
            $('#response').html("loading...");
            $('#response').html("Hello "+name);
        }
});</script>
}
